.card {
  height: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  border: 0.05mm solid #ccc;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 0 10px 9px rgb(246, 242, 242);
}

.card-image {
  position: relative;
}

.card-image img {
  display: block;
  width: 100%;
}

.card-image::after {
  position: absolute;
  content: attr(data-sale);
  color: white;
  font-size: 12px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--font-renner);
  background-color: var(--primary-color);
  padding: 13px 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.3s linear;
}

.card:hover .card-image::after {
  background-color: black;
}

.card-details {
  padding-top: 40px;
  text-align: center;
}

.card-details-title {
  padding: 30px 0 20px;
  text-transform: capitalize;
  font-size: 20px;
  color: black;
  font-weight: 700;
}

.quantity-bed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 30px;
}

.item-quantity-bed {
  display: flex;
  align-items: center;
  color: #282828;
  font-size: 14px;
}

.item-quantity-bed ion-icon {
  padding-right: 15px;
  font-size: 18px;
}

.item-quantity-bed:nth-child(1) {
  justify-content: flex-start;
}

.item-quantity-bed:nth-child(2) {
  justify-content: center;
}

.item-quantity-bed:nth-child(3) {
  justify-content: flex-end;
}

.card-details-desc {
  padding: 30px 45px;
  font-size: 14px;
  line-height: 20px;
  max-height: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #282828;
  font-weight: 600;
  opacity: 0.7;
}

.card-details .btn {
  padding: 20px;
  font-size: 13px;
  text-decoration: underline;
  color: black;
}

.card-price {
  position: absolute;
  background-color: white;
  padding: 10px 20px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -155%);
  box-shadow: 0 1px 10px 1px rgb(149, 149, 149);
  text-transform: capitalize;
  font-size: 14px;
}

.card-price-old,
.card-price-new {
  font-size: 17px;
  color: var(--primary-color);
}

.card-price-old {
  text-decoration: line-through;
}

.card-price span:last-child {
  font-size: 17px;
}
