.header-infor-group .header-infor-item {
  color: white;
  position: relative;
}

.header-infor-group .header-infor-item::after {
  position: absolute;
  content: "";
  width: 0.01cm;
  height: 30px;
  background-color: rgba(174, 172, 172, 0.7);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header-infor-group .header-infor-item:last-child:after {
  background-color: transparent;
}

.header-infor-group:first-child .header-infor-item-title {
  opacity: 0.7;
  text-transform: capitalize;
  font-size: 12px;
}

.header-infor-group:first-child .header-infor-item-link {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
}

.header-infor-group:last-child .header-infor-item {
  text-align: right;
  padding: 0 20px;
}

.header-infor-item-language {
  padding: 5px;
  background-color: transparent;
  color: white;
  text-transform: capitalize;
  font-size: 15px;
  position: relative;
  text-align: right;
}

.language-selected {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.language-selected ion-icon {
  padding: 0 2px;
  font-size: 20px;
}

#language:checked ~ .language-options {
  display: block;
}

.language-options {
  position: absolute;
  background-color: white;
  right: 0;
  margin: 10px 0;
  display: none;
  animation: appear 0.3s linear;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
}

.item-language-options a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  color: black;
}

.item-language-options a:hover {
  background-color: var(--primary-color);
}

.header-infor-item-network-social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: flex-start;
}

.network-social-item {
  text-align: left;
}

.network-social-item-link {
  background-color: var(--secondary-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 8px;
}

.network-social-item-link ion-icon {
  font-size: 20px;
  color: white;
}
