.footer-item {
  padding: 30px 0;
}

.footer-item:first-child a {
  display: inline-block;
  padding: 20px 0;
}

.footer-item:first-child .logo img {
  display: block;
  width: 220px;
}

.footer-infor {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  gap: 20px;
}

.item-footer-infor-title {
  color: white;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  opacity: 0.7;
}

.item-footer-infor-title ion-icon {
  padding-right: 10px;
}

.item-footer-infor-link {
  color: white;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
}

.footer-item:last-child {
}

.footer-item-title {
  padding: 30px 0;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
}

.footer-email-form {
  display: inline-block;
  box-shadow: 0 0 0 0.04mm white;
}

.footer-email-form input {
  width: 250px;
  line-height: 24px;
  padding: 0 20px;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--secondary-color);
}

.footer-email-form input::placeholder {
  font-style: italic;
  font-family: var(--font-play);
  font-size: 12px;
}

.footer-email-form .btn {
  padding: 12px 35px;
  line-height: 24px;
  color: white;
}
