
.team{
  width: 20px;
  height: 20px;
  opacity: 1;
  color: white;
  fill: rgb(255, 221, 0);
  
}
.mnt{
  font-size: 14px;
  background-color: rgb(255, 221, 0);
  color: white;
  width: max-content;
  padding: 1px;
  padding-top: -2px;
}
.siCheckButton {
  background-color: black;
  color: white;
}
.siCheckButton:hover {
  background-color: #c5a47e;
    color: white;
    transition: all 0.3s linear;
}