.card-view {
    margin-bottom: 30px;
}
.card-item {
    display: flex;
    width: 100%;
    /* max-width: 37rem; */
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}
.row {
    display: block;
    width: 100%;
    max-width: 20rem;
}
.row .rowText {
    font-style: italic;
    font-size: 14px;
}
